<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>APP_ENVIRONMENT</key>
	<string>$(APP_ENVIRONMENT)</string>
	<key>OPENAI_API_KEY</key>
	<string>$(OPENAI_API_KEY)</string>
	<key>OPENAI_MODEL</key>
	<string>$(OPENAI_MODEL)</string>
	<key>OPENAI_TEMPERATURE</key>
	<string>$(OPENAI_TEMPERATURE)</string>
</dict>
</plist>
